.like-button {
    position: relative;
    left: 40%;
    top: 10%;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .like-button::before {
    font-size: 3em;
    color: #d4bcbc;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .like-button::after {
    font-size: 3em;
    color: #ff3252; /* Use --red instead of $red */
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
  }
  
  .like-button.liked::after {
    transform: translate(-50%, -50%) scale(1.1);
  }